### Analisis exploratorio del conjunto de datos train.csv

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv("../data/train.csv")
display(train.head(3))

test = pd.read_csv("../data/test.csv")
display(test.head(3))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [3]:
print("Dimensi贸n de los datos en traint:")
display(train.shape)
print("Dimensi贸n de los datos en test:")
display(test.shape)

Dimensi贸n de los datos en traint:

(891, 12)

Dimensi贸n de los datos en test:

(418, 11)

#### train.csv

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Prepocessing

In [6]:
from sklearn import preprocessing

In [7]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
train["Age"] = train.groupby(["Pclass", "Sex"]).Age.transform(lambda x: x.fillna(x.median()))
test["Age"] = test.groupby(["Pclass", "Sex"]).Age.transform(lambda x: x.fillna(x.median()))

train["Embarked"] = train.groupby(["Pclass", "Sex"]).Embarked.transform(lambda x: x.fillna(x.value_counts().index[0]))
test["Fare"] = test.groupby(["Pclass", "Sex"]).Fare.transform(lambda x: x.fillna(x.mean()))

In [10]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [11]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [12]:
test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [13]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [14]:
train["Pclass"] = train["Pclass"].replace({3:"tercera", 2:"segunda", 1:"primera"})
test["Pclass"] = test["Pclass"].replace({3:"tercera", 2:"segunda", 1:"primera"})

In [15]:
var = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
    'Fare', 'Embarked']

test_mod = test[var]
var.append("Survived")
train_mod = train[var]

In [18]:
X = train_mod.drop(["Survived"], axis=1)
y = train_mod["Survived"]

In [21]:
X_dummies = pd.get_dummies(X)
resultados = pd.get_dummies(test_mod)

In [22]:
resultados.columns

Index(['Age', 'SibSp', 'Parch', 'Fare', 'Pclass_primera', 'Pclass_segunda',
       'Pclass_tercera', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [23]:
X_dummies.columns

Index(['Age', 'SibSp', 'Parch', 'Fare', 'Pclass_primera', 'Pclass_segunda',
       'Pclass_tercera', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [26]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.3)

In [31]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [32]:
lr.fit(X_train, y_train)

/home/enrique/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
y_predict = lr.predict(X_test)

In [39]:
print("Accuracy:",sum(y_predict==y_test)/len(y_test)*100)

Accuracy: 79.8507462686567

### Tree Desici贸n

In [40]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

y_predict_arbol = dtc.predict(X_test)
print("Accuracy (tree):",sum(y_predict_arbol==y_test)/len(y_test)*100)

Accuracy (tree): 77.98507462686567

In [52]:
from xgboost import XGBClassifier

xgb = XGBClassifier()
xgb.fit(X_train, y_train)

y_predict_xgb = xgb.predict(X_test)
print("Accuracy (tree):",sum(y_predict_xgb==y_test)/len(y_test)*100)

/home/enrique/anaconda3/lib/python3.7/site-packages/xgboost/sklearn.py:892: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[10:28:26] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy (tree): 79.47761194029852

In [80]:
ensamble = pd.DataFrame({"y_reg":y_predict,
             "y_tree":y_predict_arbol,
             "y_xgb":y_predict_xgb})

ensamble["y_ensamble"] = ensamble[["y_reg","y_tree", "y_xgb"]].apply(lambda x: 1 if (x[0]+x[1]+x[2])>1 else 0, axis=1)

print("Accuracy (tree):",sum(ensamble.y_ensamble.to_list()==y_test)/len(y_test)*100)

Accuracy (tree): 80.59701492537313

In [83]:
resultados_reg = lr.predict(resultados)
resultados_tree = dtc.predict(resultados)
resultados_xgb = xgb.predict(resultados)

ensamble_resultados = pd.DataFrame({"y_reg":resultados_reg,
             "y_tree":resultados_tree,
             "y_xgb":resultados_xgb})

ensamble_resultados["y_ensamble"] = ensamble_resultados[["y_reg","y_tree", "y_xgb"]].apply(lambda x: 1 if (x[0]+x[1]+x[2])>1 else 0, axis=1)

In [85]:
ensamble_resultados.y_ensamble

0      0
1      0
2      0
3      1
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: y_ensamble, Length: 418, dtype: int64

In [90]:
salida = pd.concat([test.PassengerId,ensamble_resultados.y_ensamble], axis=1)

In [98]:
salida.rename(columns={"y_ensamble":"Survived"}, inplace=True)

In [100]:
salida.to_csv("../data/submission.csv", index=False)